@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories Index";
}

<div class="border" style="background-color:white;border:solid 1px #ddd;border-radius:10px;padding:30px;margin-bottom:30px;">
    <div class="row">
        <div class="col-6">
            <h1 class="text-info">Categories List</h1>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" model="@ViewData["CreateEditButtons"]" />
        </div>
    </div>

    <div>
        @if (!Model.Any())
        {


            <p class="w-100 text-center text-danger" style="font-size:24px;">
                No Categories
            </p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table table-secondary">
                    <th>
                        @(Html.DisplayNameFor(m=>m.Name).Length>50? Html.DisplayNameFor(m => m.Name).Substring(0,50):Html.DisplayNameFor(m => m.Name))
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(item.Name.Length>50?$"{item.Name.Substring(0,50)} ...": item.Name)
                        </td>
                        <td style="width:150px;">
                            <partial name="_OperationsActionButtonsPartial" model="@(new object[] {item.Id,ViewData["CreateEditButtons"] })" />
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                var result = confirm('Are you sure that you need to delete this category');

                if (result) {
                    $.ajax({
                        url: '/Admin/Categories/delete/' + btn.data('id'),
                        success: function () {
                            btn.parents('tr').fadeOut();
                            toastr.success('Category is deleted');
                        },
                        error: function () {
                            toastr.error('Something went wrong!');
                        }
                    });
                }
            });
        });
    </script>
}