@model Spice.Models.Category

@{
    ViewData["Title"] = Model.Id > 0 ? "Edit" : "Create";
}

<div class="border" style="background-color:white;border:solid 1px #ddd;border-radius:10px;padding:30px;margin-bottom:30px;">
    <h1>@(Model.Id>0?"Edit "+Model.Name:"Create")</h1>

    <h4>Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="CategoryForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <partial name="@(Model.Id > 0 ? "_SaveAndBackToListButtonsPartial" : "_CreateAndBackToListButtonsPartial")" />
                    
                    
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}